/* Global Variables */
:root {
  --black: #222222;
  --yellow:#ffd139;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", sans-serif;
  padding: 0;
  margin: 0;
}

header {
  background-color: var(--yellow);
  margin: 0;
  padding: 1.2rem;
  border-bottom: 2px solid gray;
}

h1 {
  font-family: "Press Start 2P";
  font-size: 1.7rem;
  text-align: center;
  margin: 0;
}

main {
  display: flex;
  justify-content: center;
  margin: 5rem 0;
}

/* ------ Left container ------ */
.left-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 20%;
}

/* Color picker */

#colorPicker {
  border-width: 0;
  padding: 0;
  height: 2rem;
  width: 6rem;
}

#colorPicker:hover {
  border: 5px solid var(--yellow);
}

/* Slider */

#sizeDisplay {
  margin-left: 1rem;
  font-size: 1rem;
  color: var(--black);
  margin-bottom: 1rem;
}

#sizeSlider {
  width: 6rem;
  background: red;;
}

/* Button */

button {
  padding: 0.5rem 1rem;
  font-family: "Roboto Mono", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  box-sizing: content-box;
  width: 4rem;
  background-color: #FFFFFF;
  color: var(--black);
  box-shadow: 3px 3px var(--black);;
  border: 1px solid var(--black);;
}

button:hover {
  box-shadow: none;
  background-color: var(--yellow);
  color: #FFFFFF;
}

.active {
  box-shadow: none;
  background-color: var(--yellow);
  color: #FFFFFF;
}

/* ------ Right container ------ */
.sketch-area {
  height: 35rem;
  width: 35rem;
  border: 1px solid var(--black);
  box-shadow: 3px 3px var(--black);
  display: grid;
}